body
{
	background-color: #eee;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin-bottom:50px;
}

.button
{
	margin-top: 20px;
	margin-right: 50px;
	float: right;
	width: 150px;
	padding:8px;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	color: #000;
	text-align: center;
}

.button:hover
{
	background-color: #e6e6e6;
}

h1.logo
{
	font-size: 40px;
	font-weight: 400;
	font-family: 'Caveat', cursive;
	line-height: 40px;
	margin-top: 10px;
	margin-bottom: 22px;
}







#container
{
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 440px;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 20px 40px;
	webkit-box-shadow: 0px 0px 21px -6px rgba(122,122,122,1);
	-moz-box-shadow: 0px 0px 21px -6px rgba(122,122,122,1);
	box-shadow: 0px 0px 21px -6px rgba(122,122,122,1);
}

h2
{
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 28px;
	line-height: 28px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email]
{
	width: 350px;
	background-color: #f9f9f9;
	color: #666;
	border: 2px solid #f9f9f9;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus
{
	border: 2px solid #5BEB3D;
	background-color: #fff;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=email]:hover
{
	background-color: #fff;
}

input[type=submit]
{
	margin-left: 100px;
	width: 300px;
	background-color: #39C91B;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 12px;
	margin-top: 23px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #15971b;
}


.textfield
{
	float: left;
	width: 100px;
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
	line-height: 45px;
}

#regulations
{
	margin-top: 7px;
	margin-left: 70px;
	line-height: 25px;
	font-size: 15px;
}

.link
{
	color: #5BEB3D;
	text-decoration: none;
}

.link:hover
{
	text-decoration: underline;
}

.link:visited
{
	color: #5BEB3D;
	text-decoration: none;
}

.cleanLink,
.cleanLink:hover,
.cleanLink:visited
{
	color: #000;
	text-decoration: none;
}


.register
{
	margin-left: auto;
	margin-right: auto;
}







ol > li
{
	height: 55px;
}

ol > li:hover > a
{
	border-bottom: 2px solid #4bb063;
	padding-bottom: 15px;
}

ol > li:hover > ul
{
	display: block;
}



ol > li > ul > li > a
{
	font-size: 16px;
	height: 30px;
}

ol > li > ul > li:hover > a
{
	border-bottom: 1px solid #4bb063;
	height: 30px;
}

.variableName
{
	width: 200px;
	margin: 5px;
	margin-top: 20px;
	float: left;
	
	font-size: 18px;
	padding: 5px;
	
}

.variableValue
{
	width: 97px;
	margin: 5px;
	margin-top: 20px;
	float: left;
	
	font-size: 19px;
	padding: 7px;

	text-align: right;
	font-family: 'Lato', sans-serif;
}

.addExpense
{
	border: 1px solid #e9e9ea;
	border-radius: 8px;
	padding: 15px;
	width: 898px;
	height: 370px;
	margin: 10px;
	margin-top: 35px;
	background-color: #fcfbfc;
}

.textfieldOperation
{
	float: left;
	width: 180px;
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
	line-height: 45px;
}

.textfieldOperationValue
{
	float: left;
	width: 200px;
	font-size: 20px;
	padding: 10px;
	margin-top: 10px;
	line-height: 45px;
	margin-right: 25px;
}


.textfieldOperationValue > input[type=number],
.textfieldOperationValue > input[type=date]
{
	width: 200px;
	background-color: #f9f9f9;
	color: #666;
	border: 2px solid #e8e8e8;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.textfieldOperationValue > input[type=text]
{
	width: 645px;
	background-color: #f9f9f9;
	color: #666;
	border: 2px solid #e8e8e8;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

#payment
{
	background-color: #f9f9f9;
	color: #666;
	border: 2px solid #e8e8e8;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	float: left;
	width: 200px;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	line-height: 45px;
	margin-right: 35px;
	margin-left: 10px;
}

#category
{
	background-color: #f9f9f9;
	color: #666;
	border: 2px solid #e8e8e8;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	float: left;
	width: 200px;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	line-height: 45px;
	margin-right: 35px;
	margin-left: 10px;
}

#period
{
	background-color: #f9f9f9;
	color: #666;
	border: 2px solid #e8e8e8;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	float: left;
	width: 200px;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	line-height: 45px;
	margin-right: 10px;
	margin-left: 5px;
}

#category:focus,
#payment:focus,
#period:focus,
.textfieldOperationValue > input[type=text]:focus,
.textfieldOperationValue > input[type=date]:focus,
.textfieldOperationValue > input[type=number]:focus
{
	border: 2px solid #5BEB3D;
	background-color: #fff;
}

#category:hover,
#payment:hover,
#period:hover,
.textfieldOperationValue > input[type=text]:hover,
.textfieldOperationValue > input[type=date]:hover,
.textfieldOperationValue > input[type=number]:hover
{
	background-color: #fff;
}

.buttonAdd
{
	float: left;
}

.buttonCancel > input[type=submit]
{
	float: left;
	background-color: #b4b4b4;
}

.buttonCancel > input[type=submit]:hover
{
	float: left;
	background-color: #929292;
}



.pie {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 100px;
}

svg {
  width: 300px; height: 300px;
  transform: rotate(-90deg);
  background: yellowgreen;
  border-radius: 50%;
}

circle {
  fill: yellowgreen;
  stroke: #655;
  stroke-width: 32;
  stroke-dasharray: 38 100; /* for 38% */
}

.pie2 {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-top: 40px;
}

.pie2 > svg {
  width: 150px; height: 150px;
  transform: rotate(-90deg);
  background: yellowgreen;
  border-radius: 50%;
}

.pie2 > circle {
  fill: yellowgreen;
  stroke: #655;
  stroke-width: 32;
  stroke-dasharray: 38 100; /* for 38% */
}

.navbar
{
	min-height: 57px;
}

.list-group-item-dark
{
	background-color: #373a3d;
	color: white;
}

.list-group-item-dark:hover
{
	background-color: #91a33b !important;
	
}

.list-group .active
{
	background-color: #91a33b !important;
	cursor: default;
}

@media (max-width: 575px)
{
	.wpis
	{
		margin: 40px 20px;
		text-align: left;
		font-size: 15px;
	}
	
	.float-left, .float-right
	{
		max-width: 50%;
	}
	
	.blockquote
	{
		font-size: 17px;
		
		
	}
	
	.list-group
	{
		text-align: center;
	}
}

